@use "sass:string"

=marker-text($marker, $color)
  .block-marker.#{string.to-upper-case($marker)}
    color: var(--#{$color}-emphasis)

=marker($marker, $color)
  &.#{$marker}
    .form-checkbox
      background-color: var(--#{$color}-emphasis)
      border-color: var(--#{$color}-fg)

    +marker-text($marker, $color)

=done-margin($marker: done)
  &.#{$marker}
    div[data-tooltipped]
      margin-right: 0.25em

=markers
  @each $marker in [later, todo, now, doing, done, canceled]
    @if $marker == later or $marker == todo
      +marker($marker, neutral)
    @if $marker == now or $marker == doing
      +marker($marker, open)
    @if $marker == done or $marker == canceled
      +done-margin($marker)

::-webkit-scrollbar-thumb
  border-radius: 6px

// button
a.button
  color: var(--ls-icon-color)

// card
div[data-refs-self*='"card"']
  background-color: var(--canvas-subtle)

// checkbox
//
// Default `done`
.form-checkbox
  border-radius: 4px

  &:checked
    background-color: var(--done-emphasis)
    border-color: var(--done-fg)

  &:focus
    border-color: var(--ls-border-color)

// cloze
a.cloze
  opacity: 0.5

  &:hover
    color: var(--attention-emphasis)
    opacity: 1

// markers
span
  +markers

// menu-link
a.menu-link
  a
    transition: none

    &:hover
      text-decoration: underline

  &.chosen,
  &:hover
    background-color: var(--accent-emphasis) !important
    color: var(--fg-on-emphasis) !important

    p,
    .block-parents *
      background-color: unset !important
      color: var(--fg-on-emphasis) !important

    .type-icon
      color: var(--ls-search-icon-color) !important

// search
.recent-search div[data-tooltipped] .ui__toggle > span[aria-checked="true"]
  background-color: var(--ls-link-text-color)

// sidebar
.sidebar-item
  border-bottom: 3px solid var(--border-default)
  box-shadow: none

// table
table
  .form-checkbox
    background-color: var(--canvas-default)
    border-width: 1px
    border-style: solid
    border-color: var(--ls-border-color)

    &:checked
      background-color: var(--accent-emphasis)
      border-color: var(--accent-fg)

    &:hover
      transform: scale(1)

// tag
a.tag
  padding: 0.1em 0.5em
  background-color: var(--accent-fg)
  color: #fff !important
  border-radius: 2em

  &:hover
    background-color: var(--accent-emphasis)

=x-arrow
  width: 10px
  height: 10px
  background: var(--canvas-default)
  border: 1px solid var(--border-default)
  transform: rotate(45deg)

.tippy-popper
  &[x-placement^=top] [x-arrow]
    +x-arrow

    bottom: -5px
    border-top: none
    border-left: none

  &[x-placement^=left] [x-arrow]
    +x-arrow

    right: -5px
    border-bottom: none
    border-left: none

  &[x-placement^=bottom] [x-arrow]
    +x-arrow

    top: -5px
    border-bottom: none
    border-right: none

  &[x-placement^=right] [x-arrow]
    +x-arrow

    left: -5px
    border-top: none
    border-right: none

.tippy-tooltip
  border-radius: 6px

.tippy-wrapper,
.tippy-tooltip-content > div
  background-color: var(--canvas-default)
  border: 1px solid var(--border-default)
  border-radius: 6px
  box-shadow: var(--shadow-large)
