@use "common"

.dark-theme,
html[data-theme="dark"]
  --fg-default: #c9d1d9
  --fg-muted: #8b949e
  --fg-on-emphasis: #ffffff
  --canvas-default: #0d1117
  --canvas-overlay: #161b22
  --canvas-subtle: #161b22
  --scale-gray-7: #21262d
  --scale-gray-6: #30363d
  --scale-gray-5: #484f58
  --scale-gray-4: #6e7681
  --scale-gray-3: #8b949e
  --border-default: #30363d
  --border-muted: #21262d
  --shadow-large: 0 8px 24px #010409
  --neutral-emphasis: #6e7681
  --neutral-muted: rgba(110, 118, 129, 0.4)
  --accent-fg: #58a6ff
  --accent-emphasis: #1f6feb
  --accent-muted: rgba(56, 139, 253, 0.4)
  --attention-fg: #d29922
  --attention-emphasis: #9e6a03
  --severe-fg: #db6d28
  --severe-emphasis: #bd561d
  --severe-muted: rgba(219, 109, 40, 0.4)
  --danger-emphasis: #da3633
  --open-fg: #3fb950
  --open-emphasis: #238636
  --done-fg: #a371f7
  --done-emphasis: #8957e5

  --ls-primary-background-color: var(--canvas-default)
  --ls-secondary-background-color: var(--canvas-subtle)
  --ls-tertiary-background-color: var(--scale-gray-7)
  --ls-quaternary-background-color: var(--scale-gray-6)
  --ls-table-tr-even-background-color: var(--canvas-subtle)
  --ls-active-primary-color: var(--accent-fg)
  --ls-active-secondary-color: var(--accent-emphasis)
  --ls-block-properties-background-color: var(--canvas-subtle)
  --ls-page-properties-background-color: var(--canvas-subtle)
  --ls-block-ref-link-text-color: var(--neutral-emphasis)
  --ls-search-background-color: var(--ls-primary-background-color)
  --ls-border-color: var(--border-default)
  --ls-secondary-border-color: var(--border-muted)
  --ls-guideline-color: var(--border-muted)
  --ls-menu-hover-color: var(--ls-secondary-background-color)
  --ls-primary-text-color: var(--fg-default)
  --ls-secondary-text-color: var(--fg-muted)
  --ls-title-text-color: var(--fg-default)
  --ls-link-text-color: var(--ls-active-primary-color)
  --ls-link-text-hover-color: var(--ls-active-secondary-color)
  --ls-link-ref-text-color: var(--ls-link-text-color)
  --ls-link-ref-text-hover-color: var(--ls-link-text-hover-color)
  --ls-tag-text-color: var(--ls-link-text-color)
  --ls-tag-text-hover-color: var(--ls-link-text-hover-color)
  --ls-slide-background-color: var(--ls-primary-background-color)
  --ls-block-bullet-border-color: var(--border-default)
  --ls-block-bullet-color: var(--neutral-emphasis)
  --ls-block-highlight-color: var(--accent-muted)
  --ls-selection-background-color: var(--accent-muted)
  --ls-page-checkbox-color: #6093a0
  --ls-page-checkbox-border-color: var(--ls-page-checkbox-color)
  --ls-page-blockquote-color: var(--ls-primary-text-color)
  --ls-page-blockquote-bg-color: var(--ls-secondary-background-color)
  --ls-page-blockquote-border-color: var(--ls-border-color)
  --ls-page-inline-code-color: var(--fg-on-emphasis)
  --ls-page-inline-code-bg-color: var(--neutral-emphasis)
  --ls-scrollbar-foreground-color: var(--border-default)
  --ls-scrollbar-background-color: none
  --ls-scrollbar-thumb-hover-color: var(--neutral-emphasis)
  --ls-head-text-color: var(--ls-link-text-color)
  --ls-cloze-text-color: var(--attention-fg)
  --ls-icon-color: var(--fg-default)
  --ls-search-icon-color: var(--ls-primary-text-color)
  --ls-search-icon-hover-color: var(--ls-link-text-color)
  --ls-a-chosen-bg: var(--ls-secondary-background-color)
  --ls-right-sidebar-code-bg-color: var(--ls-secondary-background-color)
  --color-level-1: var(--ls-secondary-background-color)
  --color-level-2: var(--ls-tertiary-background-color)
  --color-level-3: var(--ls-quaternary-background-color)
  --color-level-4: var(--scale-gray-5)
  --color-level-5: var(--scale-gray-4)
  --color-level-6: var(--scale-gray-3)

// all pages
.cp__all_pages .actions
  .l .actions-wrap button.ui__button
    background-color: var(--neutral-muted) // different with light theme
    opacity: 1

  &.has-selected .l .actions-wrap button.ui__button
    background-color: var(--danger-emphasis)

// block
.block-children-left-border:hover
  background-color: var(--neutral-emphasis)

// code
html[data-theme="dark"]
  .CodeMirror
    background: var(--canvas-overlay) // different with light theme

    .CodeMirror-gutters
      background-color: transparent

  .extensions__code-lang
    padding-left: 0.5em
    padding-right: 0.5em
